<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button 
                    mat-raised-button 
                    type="submit"  
                    routerLink="/produto"  
                    class="btn btn-danger pull-right">Voltar</button>
                <div class="clearfix"></div>
            </div>
          </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Cadastro de Produtos</h4>
                        <p class="card-category">Preencha todas as informações</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="produtoForm" novalidate>
                            <div class="row">                                
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Selecione o Item</mat-label>
                                        <mat-select formControlName="item">
                                          <mat-option>None</mat-option>
                                          <mat-option *ngFor="let item of items" [value]="item" >{{ item.tipoProduto.nome}}</mat-option>                                          
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field>
                                      <mat-label>Selecione o Usuário</mat-label>
                                      <mat-select formControlName="usuario">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let usuario of usuarios" [value]="usuario">{{ usuario.nome }}</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>selecione o estabelecimento</mat-label>
                                    <mat-select formControlName="estabelecimento"> 
                                      <mat-option>None</mat-option>
                                      <mat-option *ngFor="let estabelecimento of estabelecimentos" [value]="estabelecimento">{{estabelecimento.nome}}</mat-option>                                      
                                    </mat-select>
                                  </mat-form-field>
                                </div>

                                <div class="col-md-6">                                 
                                  <mat-form-field>
                                      <input matInput [matDatepicker]="picker"  placeholder="Data de Cadastro" formControlName="data">
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Informa o valor do produto" type="text"  formControlName="valor">
                                  </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="City" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Country" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Postal Code" type="text">
                                  </mat-form-field>
                                </div>
                            </div> -->
                            <!-- <div class="row">
                                <div class="col-md-12">
                                  <label>About Me</label>
                                  <mat-form-field class="example-full-width">
                                     <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                   </mat-form-field>
                                     <div class="form-group">
  
                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                               </div>
                            </div> -->
                            <button mat-raised-button type="submit" (click)="cadastrarProduto(produtoForm.value)" class="btn btn-danger pull-right">Cadastrar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
  </div>
  