<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Medidas</h4>
                            <p class="card-category">Unidades de medida usadas em produtos</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                  <thead class="text-primary">
                                      <th>
                                          ID
                                      </th>
                                      <th>
                                          Nome
                                      </th>
                                      <th>
                                          Valor
                                      </th>
                                      <th>
                                          Opções
                                      </th>
                                  </thead>
                                  <tbody>  
                                      <tr  *ngFor="let medida of medidas">
                                          <td>
                                              {{ medida.id }}
                                          </td>
                                          <td>
                                              {{ medida.unidade }}
                                          </td>                                    
                                          <td>
                                              {{ medida.valor }}
                                          </td>                                    
                                          <td>
                                          </td>
                                      </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      