<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Unidade de Medida</h4>
                        <p class="card-category">Cadastre a unidade de medida</p>
                    </div>
                
            <div class="card-body">
                    <form [formGroup]="medidaForm" novalidate>
                    <div class="row">
                       <div class="col-md-2">
                            <!-- <mat-form-field 
                                class="example-full-width">
                                <input matInput 
                                formControlName="unidade"
                                placeholder="Unidade" 
                                type="text">
                            </mat-form-field> -->
                        
                        <div class="dropdown">
                                <button href="#" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
                                    Regular
                                    <b class="caret"></b>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </div>
                        </div> 

                        <div class="col-md-10">
                            <mat-form-field 
                                class="example-full-width">
                                <input 
                                    formControlName="valor"
                                    required minlength="2"
                                    matInput 
                                    placeholder="Valor" 
                                    type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <button 
                        mat-raised-button 
                        type="submit" 
                        (click)="adicionarMedida(medidaForm.value)"
                        class="btn btn-danger pull-right">Cadastrar</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Medidas</h4>
                        <p class="card-category">Unidades de medida usadas em produtos</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Valor
                                    </th>
                                    <th>
                                        Opções
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let medida of medidas">
                                        <td>
                                            {{ medida.id }}
                                        </td>
                                        <td>
                                            {{ medida.unidade }}
                                        </td>
                                        <td>
                                            {{ medida.valor }}
                                        </td>
                                        <td class="td-actions text-left">
                                            <button mat-raised-button type="button" (click)="editarMedida(medida)"
                                                matTooltip="Editar Medida" [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>

                                            <button mat-raised-button type="button" matTooltip="Remover Medida"
                                                (click)="openConfirmationDialog(medida)" [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>