<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://marcostark.github.io/">
                        Marcos Stark
                    </a>
                </li>
                <li>
                    <a href="https://marcostark.github.io/">
                        Sobre
                    </a>
                </li>
                <li>
                    <a href="https://marcostark.github.io/">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenças
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, feito por
            <a href="https://marcostark.github.io/" target="_blank">Marcos Stark</a>.
        </div>
    </div>
</footer>
