<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Estabelecimentos</h4>
                      <p class="card-category">Estabelecimentos cadastrados</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Nome
                                  </th>
                                  <th>
                                      Local
                                  </th>
                                  <th>
                                      tipo
                                  </th>
                                  <th>
                                      Opções
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let estabelecimento of estabelecimentos">
                                      <td>
                                          {{estabelecimento.id}}
                                      </td>
                                      <td>
                                          {{estabelecimento.nome}}
                                      </td>
                                      <td>
                                          {{estabelecimento.local.nome}}
                                      </td>
                                      <td>
                                          {{estabelecimento.tipoEstabelecimento.nome}}
                                      </td>
                                      <td class="td-actions text-left">
                                        <button mat-raised-button type="button" (click)="editarEstabelecimento(estabelecimento)"
                                            matTooltip="Editar Estabelecimento" [matTooltipPosition]="'above'"
                                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
    
                                        <button mat-raised-button type="button" matTooltip="Remover Estabelecimento"
                                            (click)="openConfirmationDialog(estabelecimento)" [matTooltipPosition]="'above'"
                                            class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                        </button>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
