<div class="main-content">
    <div class="container-fluid">
            <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title">Tipos de Produtos</h4>
                                <p class="card-category">Cadastre a Tipos de Produtos</p>
                            </div>
                        
                    <div class="card-body">
                            <form [formGroup]="localForm" novalidate (ngSubmit)="onSubmit()">
                            <div class="row">
                               <div class="col-md-4">                                
                                <mat-form-field>
                                    <mat-label>Selecione os Usuários</mat-label>
                                    <mat-select [(ngModel)]="selected" formControlName="usuario">
                                      <mat-option>None</mat-option>
                                      <mat-option *ngFor="let usuario of usuarios" [value]="usuario" >{{usuario.nome}}</mat-option>
                                      <!-- <mat-option value="option2">Option 2</mat-option>
                                      <mat-option value="option3">Option 3</mat-option> -->
                                    </mat-select>
                                  </mat-form-field>
                                </div> 
        
                                <div class="col-md-8">
                                    <mat-form-field 
                                        class="example-full-width">
                                        <input 
                                            formControlName="nome"
                                            required minlength="2"
                                            matInput 
                                            placeholder="Nome" 
                                            type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button 
                                mat-raised-button 
                                type="submit" 
                                [disabled]="localForm.invalid"                                
                                class="btn btn-danger pull-right">Cadastrar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Locais</h4>
                        <p class="card-category"> Locais cadastrados </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Opções
                                    </th>
                                    <!-- <th>
                                      City
                                  </th>
                                  <th>
                                      Salary
                                  </th> -->
                                </thead>
                                <tbody>
                                    <tr *ngFor= "let local of locais">
                                        <td>
                                            {{ local.id }}
                                        </td>
                                        <td>
                                            {{ local.nome }}
                                        </td>
                                        <!-- <td>
                                          Niger
                                      </td> -->
                                        <!-- <td>
                                          Oud-Turnhout
                                      </td> -->
                                        <td class="td-actions text-left">
                                            <button mat-raised-button type="button" (click)="editarLocal(local)"
                                                matTooltip="Editar Local" [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>

                                            <button mat-raised-button type="button" matTooltip="Remover Local"
                                                (click)="openConfirmationDialog(local)" [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>