<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-danger">
                  <h4 class="card-title">Cadastro de Usuários</h4>
                  <p class="card-category">Preencha as informações</p>
              </div>
              <div class="card-body">
                  <form [formGroup]="usuarioForm" novalidate>
                      <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Nome" type="text" formControlName="nome">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input  matInput placeholder="CPF" type="text" formControlName="cpf">
                            </mat-form-field>
                          </div>
                      </div>

                      <div class="row">                          
                          <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Email"  formControlName="email">
                              </mat-form-field>
                          </div>
                          <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Telefone 1" type="telefone1" formControlName="telefone1">
                              </mat-form-field>
                          </div>
                          <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Telefone 2" type="telefone2">
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Senha" type="password"  formControlName="senha">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Confirme a Senha" type="password">
                            </mat-form-field>
                          </div>
                      </div>                     
                      <button 
                        mat-raised-button 
                        type="submit"
                        (click) ="adicionarUsuario(usuarioForm.value)"
                        class="btn btn-danger pull-right">
                        Cadastrar
                      </button>
                      <div class="clearfix"></div>
                  </form>
              </div>
          </div>
      </div>      
  </div>   
    
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Usuários</h4>
            <p class="card-category"> Usuários cadastrados </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    Nome
                  </th>
                  <th>
                    Opções
                  </th>
                  <th>
                    Opções
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let usuario of usuarios">
                    <td>
                      {{usuario.id}}
                    </td>
                    <td>
                      {{usuario.nome}}
                    </td>
                    <td>
                      {{usuario.email}}
                    </td>
                    <td class="td-actions text-left">
                      <button mat-raised-button type="button" (click)="editarUsuario(usuario)"
                        matTooltip="Editar Usuário" [matTooltipPosition]="'above'"
                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                      </button>

                      <button mat-raised-button type="button" matTooltip="Remover Usuário"
                        (click)="openConfirmationDialog(usuario)" [matTooltipPosition]="'above'"
                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>