<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Item</h4>
                      <p class="card-category"> Itens</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Nome
                                  </th>
                                  <th>
                                      Medida
                                  </th>
                                  <th>
                                      Marca
                                  </th>
                                  <th>
                                      Opções
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of items">
                                      <td>
                                          {{ item.id }}
                                      </td>
                                      <td>
                                          {{ item.tipoProduto.nome}}
                                      </td>
                                      <td>
                                          {{ item.tipoProduto.medida.unidade}}
                                      </td>
                                      <td>
                                          {{ item.marca.nome}}
                                      </td>
                                      <td class="td-actions text-left">
                                        <button mat-raised-button type="button" (click)="editarItem(item)"
                                            matTooltip="Editar Item" [matTooltipPosition]="'above'"
                                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
    
                                        <button mat-raised-button type="button" matTooltip="Remover Item"
                                            (click)="openConfirmationDialog(item)" [matTooltipPosition]="'above'"
                                            class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                  </tr>                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>          
  </div>
</div>
