<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Tabela de Tipos de Estabelecimentos</h4>
                            <p class="card-category"> Here is a subtitle for this table</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                  <thead class="text-primary">
                                      <th>
                                          ID
                                      </th>
                                      <th>
                                          Tipo
                                      </th>
                                      <th>
                                          Opções
                                      </th>
                                  </thead>
                                  <tbody>  
                                      <tr  *ngFor="let tiposEstabelecimento of tiposEstabelecimentos">
                                          <td>
                                              {{ tiposEstabelecimento.id }}
                                          </td>
                                          <td>
                                              {{ tiposEstabelecimento.nome }}
                                          </td>                                   
                                          <td>
                                          </td>
                                      </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      