<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Simple Table</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Item
                                  </th>
                                  <th>
                                      Usuário
                                  </th>
                                  <th>
                                      Estabelecimento
                                  </th>
                                  <th>
                                      Data de Cadastro
                                  </th>
                                  <th>
                                    Valor
                                </th>
                                <th>
                                    Opções
                                </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let produto of produtos">
                                      <td>
                                          {{produto.id}}
                                      </td>
                                      <td>
                                          {{produto.item.tipoProduto.nome}}
                                      </td>
                                      <td>
                                          {{produto.usuario.nome}}
                                      </td>
                                      <td>
                                          {{produto.estabelecimento.nome}}
                                      </td>
                                      <td>
                                        {{produto.data_cadastro}}
                                    </td>
                                    <td>
                                        {{produto.valor}}
                                    </td>
                                    <td class="td-actions text-left">
                                        <button mat-raised-button type="button" (click)="editarProduto(produto)"
                                            matTooltip="Editar Produto" [matTooltipPosition]="'above'"
                                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
    
                                        <button mat-raised-button type="button" matTooltip="Remover Produto"
                                            (click)="openConfirmationDialog(produto)" [matTooltipPosition]="'above'"
                                            class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>          
      </div>
  </div>
</div>
