<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button 
                    mat-raised-button 
                    type="submit"  
                    routerLink="/estabelecimento"  
                    class="btn btn-danger pull-right">Voltar</button>
                <div class="clearfix"></div>
            </div>
          </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Cadastro de Produtos</h4>
                        <p class="card-category">Preencha todas as informações</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="estabelecimentoForm" novalidate>
                            <div class="row">                                
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Informa o nome do estabelecimento" type="text" formControlName="nome">
                                      </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field>
                                      <mat-label>Selecione o Local</mat-label>
                                      <mat-select formControlName="local">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let local of locais" [value]="local">{{ local.nome }}</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>selecione o tipo</mat-label>
                                    <mat-select formControlName="tipo"> 
                                      <mat-option>None</mat-option>
                                      <mat-option *ngFor="let tipo of tipos" [value]="tipo">{{tipo.nome}}</mat-option>                                      
                                    </mat-select>
                                  </mat-form-field>
                                </div>                                

                            </div>                            
                            <button mat-raised-button type="submit" (click)="cadastrarEstabelecimento(estabelecimentoForm.value)" class="btn btn-danger pull-right">Cadastrar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  