<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Tipos de Produtos</h4>
                      <p class="card-category">Tabela de tipos de produtos</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                            <thead class="text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Nome
                                </th>
                                <th>
                                  Medida
                              </th>
                                <th>
                                    Opções
                                </th>
                            </thead>
                            <tbody>  
                                <tr  *ngFor="let tipoProduto of tiposProdutos">
                                    <td>
                                        {{ tipoProduto.id }}
                                    </td>
                                    <td>
                                        {{ tipoProduto.nome }}
                                    </td>
                                    <td>
                                      {{ tipoProduto.medida.unidade }}
                                  </td>                                   
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
