<div class="main-content">
  <div class="container-fluid">
        <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Tipos de Produtos</h4>
                            <p class="card-category">Cadastre a Tipos de Produtos</p>
                        </div>
                    
                <div class="card-body">
                        <form [formGroup]="tipoProdutoForm" novalidate>
                        <div class="row">
                           <div class="col-md-2">
                            
                            <mat-form-field>
                                <mat-label>Selecione o tipo de Medida</mat-label>
                                <mat-select [(ngModel)]="selected" formControlName="medida">
                                  <mat-option>None</mat-option>
                                  <mat-option *ngFor="let medida of medidas" [value]="medida" >{{medida.unidade}}</mat-option>
                                  <!-- <mat-option value="option2">Option 2</mat-option>
                                  <mat-option value="option3">Option 3</mat-option> -->
                                </mat-select>
                              </mat-form-field>
                              
                              <p>You selected: {{selected}}</p>
                            </div> 
    
                            <div class="col-md-10">
                                <mat-form-field 
                                    class="example-full-width">
                                    <input 
                                        formControlName="nome"
                                        required minlength="2"
                                        matInput 
                                        placeholder="Nome" 
                                        type="text">
                                </mat-form-field>
                            </div>
                        </div>
                        <button 
                            mat-raised-button 
                            type="submit" 
                            (click)="adicionarTipoProduto(tipoProdutoForm.value)"
                            class="btn btn-danger pull-right">Cadastrar</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>  
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Tipos de Produtos</h4>
                      <p class="card-category">Tabela de tipos de produtos</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                            <thead class="text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Nome
                                </th>
                                <th>
                                  Medida
                              </th>
                                <th>
                                    Opções
                                </th>
                            </thead>
                            <tbody>  
                                <tr  *ngFor="let tipoProduto of tiposProdutos">
                                    <td>
                                        {{ tipoProduto.id }}
                                    </td>
                                    <td>
                                        {{ tipoProduto.nome }}
                                    </td>
                                    <td>
                                      {{ tipoProduto.medida.unidade }}
                                  </td>                                   
                                  <td class="td-actions text-left">
                                    <button mat-raised-button type="button" (click)="editarTipoProduto(tipoProduto)"
                                        matTooltip="Editar Tipo de Produto" [matTooltipPosition]="'above'"
                                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>

                                    <button mat-raised-button type="button" matTooltip="Remover Tipo Produto"
                                        (click)="openConfirmationDialog(tipoProduto)" [matTooltipPosition]="'above'"
                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                                </tr>
                            </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
